
@font-face {
    font-family: GothamBold;
    src: url(./fonts/GothamBold.otf)
}

@font-face {
    font-family: GothamMedium;
    src: url(./fonts/GothamMedium.otf)
}

@font-face {
    font-family: GothamBook;
    src: url(./fonts/GothamBook.otf)
}

/***** custom properties *****/

:root {
    --primary-color: #80bd1d;
    --primary-color-light: #e2f0bf;
    --primary-color-lighter: #f3f9e9;
    --secondary-color:#658d24;
    --secondary-color-dark: #007f38;
    --secondary-color-darker: #126436;

    --flag-color-green: #115013;
    --flag-color-orange: #ffa500;
    --flag-color-red: #dd350d;
    --flag-color-blue: #0b427f;

    --banner-color-generic: #f3f9e9;
    --banner-color-green: #cadfd3;
    --background-color-button: #027F38;

    --neutral-color-white: #ffffff;
    --neutral-color-dark: #333333;
    --neutral-color-grey: #666666;
    --neutral-color-grey-light: #999999;
    --neutral-color-grey-lighter: #F9F7F5;
}

/***** general styling ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html {
    height: 100vh;
}

body {
    width: 100vw;
    height: 100%;
    font-family: GothamBook;
    font-size: 16px;
    color: var(--neutral-color-dark)
}

h1, h2, h3 {
    font-family: GothamBold;
    color: var(--neutral-color-dark);
}

h4, h5, h6, button {
    font-family: GothamMedium;
}

h1 {
    font-size: 24px;
    line-height: 32px;
}

h2, button {
    font-size: 20px;
    line-height: 36px;
}

h3 {
    font-size: 16px;
    line-height: 36px;
}

h4 {
    font-size: 16px;
}

p {
   font-size: 16px;
   line-height: 24px; 
}

button {
    border: none;
    cursor: pointer;
    color: var(--text-color-button);
}

ul {
    list-style-type: ""; /* voor accessibility */
}

li {
    line-height: 24px;
}

/* ------ specific styling ------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    padding: 1rem;
    background-color: var(--primary-color);

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.5rem;
        height: 2.5rem;
        border-radius: 1.5rem;
        background-color: var(--background-color-button);
    }
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 72px;
    left: 0;
    margin: 1rem;
    background-color: var(--neutral-color-white);
}

/* titel gedeelte */
.recipe-information  {
    
    img { 
        width: 100%; 
        height: 15em;
        margin-bottom: 1em;
        object-fit: cover; /* meeschalen van de image met de breedte van het scherm */
        border-radius: 1em;
    }
}

.tabs {
    display: flex;
    flex-wrap: wrap; /* flex items op de volgende regel zetten */
    justify-content: center;
    width: 100%;
    margin: 2em 0;

    input {
        display: none; /* make the radio button invisible */
    }

    label {
        flex: 50%; /* each label takes up 50% of the container width */
        text-align: center;
        padding: 10px 16px;
        color: var(--neutral-color-grey-light);
        border-bottom: 0.2em solid var(--neutral-color-grey-lighter);
        cursor: pointer; 
    }
 /* order property: control the order of flex items within a flex container */
    .tabs-content {
        order: 1; /* positioneer hiermee de tabs naast elkaar */
        width: 100%;
        /* line-height: 1.5; */
        display: none; /* 1. hier mee verberg je de content */
        margin: 1em;
    }

    /* wanneer de tab/radio button op een checked state staat geef me dan de volgende styling mee op de label */
    input:checked + label {
        color: var(--background-color-button);
        border-bottom: 0.2em solid var(--background-color-button);
     }
 
     /* tab button op checked state dan ... op tabs-content */
     input:checked + label + .tabs-content {
         display: initial; /* default/block value: visible display */
         /* 2. hier laat je de content weer zien */
     }
}

/* variatie tip */
.suggestion {
    margin-bottom: 6em;
    padding: 0.5em;
    border-radius: 1em;
    background-color: var(--banner-color-green);
    opacity: 0;
    transition: all 3s;
}


.suggestion.show {
    opacity: 1;
    filter: blur(0);
}

/* bovenkant boodschappenlijst + grid */
.grocery-list {
    position: fixed;
    bottom: -29em; /* show only the button part */
    left: 0;
    width: 100%;
    background-color: var(--primary-color-light);
    border-radius: 1em 1em 0 0;
    padding: 0.5em;
    z-index: 100;

    transition: transform 0.3s ease-in; /* Voeg een soepele overgang toe voor animatie */
    transform: translateY(0); /* Startpositie voor animatie */

    button {
        width: 100%;
        margin: 0.5em 0 0.5em 0;
        background-color: var(--primary-color-light);
    }

    /* h2 {
        margin: 0.5em 1em;
        text-align: center;
    } */

    ul {
        display: grid;
        height: 20em;
        overflow-y: scroll;

        li {
            display: grid;
            grid-auto-columns: auto 1fr auto;
            grid-template-areas:
            "image title title"
            "image measurement measurement"
            "image price button"; 
            margin: 0.5em;
            padding: 0.5em;
            border-radius: 1em;
            background-color: var(--neutral-color-white);
            /* height: 153px; */
        
            img {
                grid-area: image;
                align-self: center;
                margin: 0.5em; 
            }

            h3 {
                grid-area: title;
                line-height: 1.5;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p.ingredient-weight {
                grid-area: measurement;
                color: var(--neutral-color-grey-light);
            }

            p.ingredient-price {
                grid-area: price;
                margin: 1em 0;
            }

            div {
                grid-area: button;
            }  
        }
    }       
}

.grocery-list-show {
    transform: translateY(-29em); /* Slide-up effect om te laten zien */
}

.ingredient-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;

    button {
        width: 32px;
        height: 32px;
        text-align: center;
        border: 0.05em solid var(--primary-color);
        background-color: var(--neutral-color-white);
        color: var(--primary-color);
    }

    button.counter-subtract {
        border-radius: 0.9em 0.9em 0.2em 0.9em;
    }

    button.counter-add {
        border-radius: 0.9em 0.9em 0.9em 0.2em;
    }
}

/* onderkant van boodschappenlijst */
.groceries-sumup {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

form {
    button.add-ingredients {
        width: 100%; /* in de breedte meeschalen */
        height: 48px;
        border-radius: 1.2em 1.2em 1.2em 0.2em;
        background-color: var(--primary-color);
        color: var(--neutral-color-white);
    }
}

/***** media queries *****/


/* @media voor CSS grid */
/* als de breedte meer dan 32em wordt dan graag meer kolommen, met als breedte min. 15em  */

@media (width > 32em) { 
    ul.ingredients {
        grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));

        li {
            grid-auto-columns: 1fr auto;
            grid-template-areas:
            "image image"
            "title title"
            "measurement measurement"
            "price button";
        }
    }
}

/* @media query voor tabs */
/* @media (width > 780px) {
    .tabs {
        display: grid;
    }
} */




